<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panel</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme-min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <div class="container">
  <h1>All Users</h1>
  <table class='table'>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      <th>User Level</th>
    </thead>
    <tbody>
    {% for value in all_users %}
    <tr>
      <td>{{ value.id }}</td>
      <td><a href="{% url 'board' id=value.id %}">{{ value.first_name }} {{ value.last_name }}</a></td>
      <td>{{ value.email }}</td>
      <td>{{ value.created_at }}</td>
      <td>
      {% if value.auth_level == '0' %}
        <p>Admin</p>
      {% else %}
        <p>User</p>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</body>
</html>
